<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appsvc-function-dev-sitereview.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fe90d178-f958-4f2f-85c9-7780aadc0953/resourceGroups/drg_gcx_dev_appservice_sitereview/providers/Microsoft.Web/sites/appsvc-function-dev-sitereview</ResourceId>
    <UserName>$appsvc-function-dev-sitereview</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://appsvc-function-dev-sitereview.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>